<%- include ("partials/header") -%>
<!-- If there is only one object in the array then for each doesn't work-->
<div class="ui container">
    <div class="organize-posts">
        <div class="ui inverted segment">
            <a href="/animeblog/new"><button class="fluid ui classic green button">+ post</button></a>
            <h3>===========================================</h3>
            <h1 class="front-text"><strong>There are no posts!  </strong>Click the button above to make some!</h1>
            <h3>===========================================</h3>
            </a>
        </div>
    </div>
</div>


<%- include ("partials/footer") -%>